html{
    scroll-behavior: smooth;
}
.imAndname{
    text-align: center;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    background-image: url(back-img.jpg);
}
.about p{
    background-color:  white;
    color: black;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    background-color: black;
}
h1,#namespan{
    font-weight: bold;
    color: grey;
    text-align: center;
}
p{
    color: white;
    padding: 10px;
    border-radius: 5px;
}
#pr_img{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 3px solid black;
}
table{
    width: 100%;
}
table,th,td{
    border: 1px solid white;
    color: white;
}
th{
    background-color: black;
    color: white;
}
.skill{
    padding: 0;
}
.skill ul{
    list-style: none;
}
.skill li{
    display: inline-block;
    width: fit-content;
    margin: 5px;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    color: black;
}
.urls ul{
    text-align: center;
    padding: 10px;
}
.urls li{
    display: inline;
    margin: 10px;
}
.urls img{
    width: 30px;
    height: 30px;
}
h2{
    color: white;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom:5px;
}
.worke .box{
    border-radius: 10px;
    display: flex;
    width: fit-content;
    text-align: center;
}
.worke h3{
    background-color: black;
    border-radius: 10px;
    color: white;
    margin: 0;
    padding: 5px;
}
.worke ul{
    margin: 0;
    padding-right: 5px;
    color: white;
}
.worke ul>li{
    margin : 10px
}
.single-exp{
    display: inline-block;
}
#navigationHead nav > a{
    padding: 10px;
    margin: 7px;
    background: white;
    color: black;
    display:inline-block;
    border-radius: 2px;
    text-decoration: none;
}
#navigationHead nav>a:hover
{
    background-color: black;
    color: white;
    border: 1px solid white;
}
#navigationHead nav{
    text-align: center;
}
